<article>
  <form action="/api/auth/recovery-password-mail" method="post">
    <header>
      <h1>Recuperar contrase침a 游때</h1>
    </header>
    <input type="email" name="email" placeholder="Correo" required>
    <footer>
      <input type="submit" value="Enviar correo de recuperaci칩n">
    </footer>
    <a href="/login">Iniciar Sesi칩n</a>
  </form>
</article>